@import '../abstracts/themes';

.header-container {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media screen and (min-width: 581px) and (max-width: 1024px) {
        margin-top: 14rem;
    }

    @media screen and (min-width: 1025px) {
        margin-top: 10rem;
    }

    .title {
        text-transform: uppercase;
        letter-spacing: 1.5rem;
        font-size: 2.222em;
        font-weight: $weight-bold;

        @include themed() {
            color: t('header-text');
        }
    }

    .btn-toggle {
        background-color: transparent;
        border: none;
        width: 2.5rem;
        height: 2.5rem;
    }

}