// Colors


//Primary 
$filter-text-active-color: hsl(220, 98%, 61%);
$check-box-bg: linear-gradient (2deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$check-box-border-hover: linear-gradient (2deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// Light Theme Colors
$LT-very-light-gray: hsl(0, 0%, 98%);
$LT-very-light-grayish-blue: hsl(236, 33%, 92%);
$LT-light-grayish-blue: hsl(233, 11%, 84%);
$LT-hover: hsl(235, 19%, 35%);
$LT-dark-grayish-blue: hsl(236, 9%, 61%);
$LT-very-dark-grayish-blue: hsl(235, 19%, 35%);
$LT-white: hsl(0, 0%, 100%);
$LT-shadow: 0px 35px 50px hsl(237, 20%, 80%);

// Light Theme Images
$LT-wrapper-bg-image-mobile: url('../../images/bg-mobile-light.jpg');
$LT-wrapper-bg-image-desktop: url('../../images/bg-desktop-light.jpg');

// Dark Theme 
$DT-very-dark-blue: hsl(235, 21%, 11%);
$DT-very-dark-desaturated-blue: hsl(235, 24%, 19%);
$DT-light-grayish-blue: hsl(234, 39%, 85%);
$DT-hover: hsl(236, 33%, 92%);
$DT-grayish-blue: hsl(234, 11%, 52%);
$DT-dark-grayish-blue: hsl(233, 14%, 35%);
$DT-very-dark-grayish-blue: hsl(237, 14%, 26%);
$DT-dark-grayish-blue-2: hsl(235, 16%, 42%);
$DT-white: hsl(0, 0%, 100%);
$DT-shadow: 0px 35px 50px hsl(0, 0%, 0%);

//Dark Theme Images
$DT-wrapper-bg-img-mobile: url('../../images/bg-mobile-dark.jpg');
$DT-wrapper-bg-img-desktop: url('../../images/bg-desktop-dark.jpg');

// Typography
$body-font-family: 'Josefin Sans',
sans-serif;
$weight-bold: 700;
$weight-regular: 400;


// Breakpoints 
$mobile-width: 580px;
$tablet-width: 768px;
$desktop-width: 1024px;